torch
torchvision
transformers
opencv-python
timm
SentencePiece
pyclipper
pycocotools
yapf
sortedcontainers
supervision==0.21.0
simplejson
addict
termcolor
shapely
datasets==2.19.1
modelscope==1.28.0
matplotlib
dashscope
streamlit
psutil
SpeechRecognition
streamlit-mic-recorder
pydub
python-magic-bin
